.footer-brand > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-brand > div > div:first-child img {
  width: 120px;
  height: auto;
}

.footer-brand > div > div:first-child p {
  margin: 0;
}

.footer-brand > div > div:last-child p {
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

.footer-brand > div > div:last-child a {
  color: #bebebe;
  text-decoration: none;
  font-size: 13px;
}

.footer-brand > div > div:last-child a:hover {
  color: #fff;
}
